.header {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.header + fieldset {
    width: 100%;
    border: none;

}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px black;
    padding: 4px;
}
.label {
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 500;
}