.h1 {
    font-size: 22;
    margin: 10px 0px;
}
.topUi {
    display: flex;
    flex-direction: row;
    width: calc(100% + 1px);
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    padding-bottom: 28px;
    padding-top: 65px;
}
.circle {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(215, 243, 246); */
    background-color: rgba(120, 235, 255, 0.6);
}
.innerCircle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.middleCircle {
    margin-top: -120px;
}
.links {
    min-height: 54px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 22px;
    margin: 5px 0px;
    box-shadow: 0.5px 2px 4px rgb(151, 151, 151);
    background-color: white;
}
.links h3 {
    margin-left: 6px;
}