.title {
    width: calc(100% + 1px);
    border-bottom: solid 1px grey;
    padding: 10px 0px 10px 20px;
}
.routineBuilder {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 6px;
    height: 80%;
}
.routineBuilder label {
    margin: 8px 0px;
    font-size: 16.5px;
}
.routineBuilder input {
    height: 40px;
    width: 100%;
    border: solid 1.5px black;
    border-radius: 4px 4px 4px 4px;
    text-indent: 4px;
    font-size: 16px;
    margin-top: 5px;
}
.results {
    width: 100%;
    border: solid 1.5px black;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    margin-top: -3px;
    padding: 8px 0px 10px 4px;
    display: flex;
    flex-direction: column;
}
.routineBuilder input:focus {
    border: solid 2px black;
    border-radius: 4px 4px 0px 0px;
    outline: none;
}
.routineBuilder input:focus + .results {
    border: solid 2px black;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}
.selectedExercise {
    border: solid 1px black;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    padding: 6px 0px 6px 4px;
}
.addExercise {
    width: 90%;
    height: 45px;
    border: solid 1px black;
    border-radius: 4px;
    background: #1976d2;
    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 4px 1px -1px rgba(0, 0, 0, 0.2);
}
.addNewExercise {
    width: 98%;
    height: 35px;
    margin: 8px 0px 0px 1px;
    text-indent: 8px;
    border: solid 1px black;
    border-radius: 4px;
    background: #1976d2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 1px 4px 1px -1px rgba(0, 0, 0, 0.2);
}
